---
layout: home
title: Developer Center
group: home
---
{% include JB/setup %}

<div class="jumbotron banner-top">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>{{ page.title }}
                    {% if page.tagline %}
                    <small>{{ page.tagline }}</small>
                    {% endif %}
                </h1>
                <p>The most comprehensive resource to give <em>Longer and Healthier Lives to your Powered Products</em>.
                    </p>

                <p><a class="btn btn-primary btn-lg" role="button" href="{{ BASE_PATH }}/api/overview">Learn
                    more &raquo;</a></p>
            </div>
            <div class="col-md-6">

                <img src="{{ BASE_PATH }}/assets/images/product-image_grey.png"
                     alt="" title="">

            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Get Started</h2>

            <p>Add your organization, products and measurements in few and easy steps.</p>

            <p><a class="btn btn-default" href="/api/getting-started" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Documentation</h2>

            <p>The Product Health <strong>REST API</strong> makes it easy to gather data from any
                product and organize them meaningfully. The API documentation is organized to help you extract the most
                out of your data.</p>

            <p><a class="btn btn-default" href="/api/overview" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Buy our Starter Kit</h2>

            <p>Our easy to configure starter kit allows you to measure current, voltage and temperature of
                your battery powered products and solar installations.</p>

            <p class="btn btn-default" disabled="disabled" href="#" role="button">Coming Soon &raquo;</p>
        </div>
    </div>
</div>