<table class="content">
    <thead>
    <tr>
        <th><strong>Name</strong></th>
        <th><strong>Type</strong></th>
        <th><strong>Description</strong></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>id</td>
        <td>string</td>
        <td>a unique id in the scope of the resource hierarchy</td>
    </tr>

    <tr>
        <td>properties</td>
        <td>JSON object</td>
        <td>User defined set of properties</td>
    </tr>
    <tr>
        <td>tags</td>
        <td>JSON string arrays</td>
        <td>User defined tags</td>
    </tr>
    </tbody>
</table>