/* Custom container */
/* Move down content because we have a fixed navbar that is 50px tall */

.content table, th, td {
    border: 1px solid #333333;
    vertical-align: top;
    padding: 2px 2px 2px 5px;
}

.content th {
    background-color: #eeeeee;
}

.content th {
    background-color: #eeeeee;
}


#message-bar {
    min-height: 30px;
    text-align: left;
    padding-top: 0px;
}
.navbar ul li a{
    font-size: 19px;
}
.side-menu {
    padding-top: 20px;
    background-color: #eeeeee;
}
body {
    padding-top: 89px;
    padding-bottom: 20px;
}
.navbar {
    color: #ffffff;
}
#resources_container.container {
    padding-top: 0px;
}
footer {
    margin-top: 25px;
    text-align: center;
}
.container-narrow {
  margin: 0 auto;
  max-width: 700px; }

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }